.fade-in {
  animation: fadeIn ease-in 400ms forwards;
}

.fade-out {
  animation: fadeOut ease-in 400ms forwards;
}

.slide-up {
  animation: slideUp ease-in 400ms forwards;
}

@keyframes slideUp {
  from {
    top: 50%;
  }
  to {
    top: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
  }
}
