@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  font-family: "Inter", sans-serif;
  --regular: 400;
  --bold: 700;

  --black-1: #000000;
  --black-2: #303030;
  --white-1: #ffffff;
  --green: #999999;

  --main-left-padding: 200px;

  // Screen width breakpoints
  --desktop-breakpoint: 1400px;
  --laptop-breakpoint: 1000px;
  --tablet-breakpoint: 756px;
  --mobile-breakpoint: 450px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h1 {
  // line-height: 200px;
  // letter-spacing: -5px;
  font-size: 200px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 28px;
  // line-height: 28px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

h4 {
  font-size: 20px;
  // line-height: 28px;
  letter-spacing: 1.3px;
}

h5 {
  font-size: 18px;
  line-height: 28px;
  // letter-spacing: 1.2px;
}

h6 {
  font-size: 15px;
  // line-height: 28px;
  letter-spacing: 3px;
}
