@import "./variables";

.more-button {
  display: flex;
  width: 115px;
  height: 43px;
  border-radius: 35px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 4px;

  &:hover {
    #circle-icon {
      fill: #999999;
      transition: 100ms;
    }
  }

  &__text {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3.75px;
    font-weight: map-get($font-weights, bold);
  }

  #arrow-icon {
  }

  .flipped {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }

  @media all and (min-width: map-get($breakpoints, tablet)) {
    cursor: pointer;
  }
}
