.desktop-bg-light {
  background: linear-gradient(rgba(0, 0, 01, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/desktop/bg-image-daytime.jpg");
}

.tablet-bg-light {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/tablet/bg-image-daytime.jpg");
}

.mobile-bg-light {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/mobile/bg-image-daytime.jpg");
}

.desktop-bg-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/desktop/bg-image-nighttime.jpg");
}

.tablet-bg-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/tablet/bg-image-nighttime.jpg");
}

.mobile-bg-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/mobile/bg-image-nighttime.jpg");
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  z-index: -1;
}

.height-100vh {
  min-height: calc(100vh - 2rem);
}

.height-50vh {
  min-height: calc(50vh - 2rem);
}
