@import "./viewport-breakpoints";

$time-location-more-button-relative-position-top: 10%;

.main {
  display: flex;
  flex-direction: column;
  color: white;
  min-width: 100%;
  justify-content: space-between;

  // First row is the quote
  &__quote {
    max-width: 573px;

    &__content-and-author {
      #quote {
        display: flex;
        justify-content: space-between;
        #content {
          font-weight: var(--regular);
          margin: 0px;
        }

        button.refresh-button {
          width: 30px;
          height: 23px;
          border: none;
          outline: none;
          background-color: inherit;
          cursor: pointer;
        }
      }
    }

    &__no-content-and-author {
      display: none;
    }
  }

  // Second row is for the greeting and time
  &__time {
    &__time-unit {
      // padding-left: var(--main-left-padding);
      h1 {
        margin: 0px 0px;
        display: inline;
        letter-spacing: -2.5px;
      }

      h3 {
        display: inline;
        font-weight: var(--light);
        letter-spacing: 0;
      }

      @media all and (max-width: $breakpoint-mobile) {
        h1 {
          font-size: 100px;
        }

        h3 {
          font-size: 18px;
        }
      }
    }

    &__no-time-unit {
    }

    &__location {
      width: auto;
    }

    &__no-location {
    }

    &__greeting {
      display: flex;

      div#icon {
        display: inline;
        margin-right: 12px;
      }

      h3 {
        display: inline;
        font-weight: var(--regular);
        font-size: 25px;
        margin: 0;

        @media all and (max-width: $breakpoint-mobile) {
          font-size: 15px;
          letter-spacing: 3px;
        }
      }

      span#itsCurrently {
        @media all and (max-width: $breakpoint-mobile) {
          display: none;
        }
      }
    }

    &__no-greeting {
    }
  }

  // Third row is for the location and more button
  &__location-more-button {
    display: flex;
    width: auto;
    justify-content: space-between;
    // padding-left: var(--main-left-padding);
    padding-right: 320px;
    flex-direction: column;

    @media all and (min-width: $breakpoint-laptop) {
      flex-direction: row;
    }

    @media all and (max-width: $breakpoint-mobile) {
      padding-right: 0;
      h3 {
        font-size: 18px;
        letter-spacing: 3px;
      }
    }
  }
}

// Needed when isMoreClicked prop is true or false in <QuoteAndTime />
.top-10 {
  top: $time-location-more-button-relative-position-top;
}

.bottom-18 {
  bottom: 18%;
}
