$time-location-more-button-relative-position-top: 10%;

.main {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  min-width: 100%;

  // First row is the quote
  &__quote {
    position: relative;
    bottom: 20%;
    padding-left: var(--main-left-padding);
    max-width: 573px;
    height: 125px;

    &__content-and-author {
      #quote {
        display: flex;

        #content {
          font-weight: var(--regular);
          margin-bottom: 0px;
        }

        button {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  // Second row is for the greeting and time
  &__time {
    // background-color: red;
    position: relative;
    top: $time-location-more-button-relative-position-top;

    &__time-unit {
      // background-color: blue;
      display: flex;
      padding-left: var(--main-left-padding);
      h1 {
        // background-color: aqua;
        margin: 0px 0px;
      }

      h3 {
        font-weight: var(--regular);
        // background-color: black;
        height: 10%;
        margin-top: 160px;
        margin-left: 25px;
      }
    }

    &__no-time-unit {
    }

    &__location {
      // background-color: yellow;
      // display: flex;
      width: auto;

      // justify-content: space-between;
    }

    &__no-location {
    }

    &__greeting {
      // background-color: green;
      padding-left: var(--main-left-padding);
      h3 {
        font-weight: var(--regular);
      }
    }

    &__no-greeting {
    }
  }

  // Third row is for the location and more button
  &__location-more-button {
    display: flex;
    // background-color: yellow;
    width: auto;
    justify-content: space-between;
    padding-left: var(--main-left-padding);
    padding-right: 320px;
    position: relative;
    top: $time-location-more-button-relative-position-top;
  }
}
