.main {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.time {
  background-color: red;

  &__time-unit {
    background-color: blue;
    display: flex;
  }

  &__no-time-unit {
  }

  &__location {
    background-color: yellow;
  }

  &__no-location {
  }

  &__greeting {
    background-color: green;
  }

  &__no-greeting {
  }
}

.button-container {
  background-color: salmon;
}
