$font-weights: (
  regular: 400,
  bold: 700,
  light: 300,
);

$colors: (
  black-1: #000000,
  black-2: #303030,
  white-1: #ffffff,
  green: #999999,
);

$breakpoints: (
  desktop: 1400px,
  laptop: 1024px,
  tablet: 768px,
  mobile: 450px,
);
