@import "./variables";
@import "./animations";
@import "./mixins";
@import "./functions";

.main {
  color: white;
  min-width: 100%;
  box-sizing: border-box;

  @include tablet($max-width: false) {
    padding-left: 70px;
  }

  // First row is the quote
  &__quote {
    max-width: 573px;

    &__content-and-author {
      #author {
        animation: fade-in-top ease 0.4s forwards;
        @include tablet($max-width: true) {
          font-size: 16px;
        }
      }

      #quote {
        display: flex;
        justify-content: space-between;
        #content {
          font-weight: fontWeight(regular);
          margin: 0px;
          animation: fade-in-top ease 0.4s forwards;
          color: #ffffffc7;
          @include tablet($max-width: true) {
            font-size: 15px;
          }
        }

        button.refresh-button {
          width: 30px;
          height: 23px;
          border: none;
          outline: none;
          background-color: inherit;

          cursor: pointer;

          #refresh-icon:hover {
            opacity: 1;
            transition: 100ms;
          }
        }
      }
    }

    &__no-content-and-author {
      display: none;
    }
  }

  // Second row is for the greeting and time
  &__time-container {
    position: absolute;
    top: 58%;
    @include tablet($max-width: false) {
      width: 90%;
    }
  }

  &__time {
    margin-bottom: -25px;

    &__time-unit {
      h1 {
        margin: 0px 0px;
        display: inline;
        letter-spacing: -2.5px;
      }

      h3 {
        display: inline;
        font-weight: fontWeight(light);
        letter-spacing: 0;
      }

      @include tablet($max-width: true) {
        h1 {
          font-size: 170px;
        }
        h3 {
          font-size: 23px;
        }
      }

      @include mobile($max-width: true) {
        h1 {
          font-size: 100px;
        }

        h3 {
          font-size: 18px;
        }
      }
    }

    &__location {
      width: auto;
    }

    &__greeting {
      display: flex;

      div#icon {
        display: inline;
        margin-right: 12px;
      }

      h3 {
        display: inline;
        font-weight: fontWeight(light);
        font-size: 25px;
        margin: 0;
        letter-spacing: 3.6px;

        @include tablet($max-width: true) {
          font-size: 18px;
        }

        @include mobile($max-width: true) {
          font-size: 15px;
        }
      }

      span#itsCurrently {
        @include mobile($max-width: true) {
          display: none;
        }
      }
    }
  }

  // Third row is for the location and more button
  &__location-more-button {
    display: flex;
    width: 95%;
    justify-content: space-between;
    padding-right: 320px;
    flex-direction: column;
    margin-top: 23px;
    // background: red;

    h3 {
      font-weight: fontWeight(regular);
    }

    @media all and (min-width: map-get($breakpoints, laptop)) {
      flex-direction: row;
      align-items: center;
    }

    @media all and (max-width: map-get($breakpoints, tablet)) {
      padding-right: 0;
      h3 {
        font-size: 18px;
        margin-bottom: 90px;
      }
    }
  }
}
